@import "button.css";
@import "date-picker.css";
@import "spinner.css";
@import "slider.css";
@import "check-box.css";
@import "grid.css";

.round-button {
  -fx-font-size: 24px;
  -fx-background-radius: 50%;
  -fx-min-width: 50px;
  -fx-min-height: 50px;
  -fx-max-width: 50px;
  -fx-max-height: 50px;
  -fx-border-radius: 50%;
  -fx-text-fill: #ffffff;
}
.round-button:pressed {
  -fx-border-radius: 50%;
}

.label-date {
  -fx-font-size: 10px;
  -fx-text-fill:  #520e0b;
  -fx-background-color: Transperend;
}

.card {
  -fx-background-color: #d4a7a1;
  -fx-border-color: #520e0b;
  -fx-border-radius: 5;
  -fx-background-radius: 5;
}

.flow-pane {
  -fx-padding: 10px;
}

*:not(.no-font-override) {
  -fx-font-family: "DejaVu Serif";
}


.custom-back{
  -fx-background-color: #f3dad2;
}

.text-area{
  -fx-background-color: #faf6f6;
  -fx-border-color: #520e0b;
}
